
<div class="text-center">
  <img [src]='imageURL' style="border-radius: 100px;"  height="150" width="150" >
</div >
<div class="text-center">
  <button class="btn-primary" routerLink="upload-profile-image">edit</button>
</div>
<h1 class="text-center">{{name}}</h1>

<button class="form-control" routerLink="home" mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>

<button class="form-control" routerLink="profile" mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Profile</span>
</button>
<button class="form-control" mat-button [matMenuTriggerFor]="tables" mat-menu-item>
    <mat-icon>toc</mat-icon>
    <span>Tables</span>
</button>
<button class="form-control" mat-button [matMenuTriggerFor]="settings" mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
</button>
<mat-menu #settings="matMenu">
  <button mat-menu-item routerLink="edit-user-profile">change Profile</button>
    <button mat-menu-item routerLink="change-password">change password</button>
</mat-menu>

<mat-menu #tables="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="complaint">complaint</button>
  <button mat-menu-item routerLink="all-category">categories</button>
  <button mat-menu-item routerLink="all-state">states</button>
  <button mat-menu-item routerLink="all-users">Users</button>
  <button mat-menu-item routerLink="all-status">status</button>
</mat-menu>

<mat-menu #complaint="matMenu">
  <button mat-menu-item routerLink="all-complaint">complaint by select</button>
  <button mat-menu-item routerLink="complaint-by-search">complaint by search</button>
</mat-menu>