<div class="bootstrap-wrapper">

    <div class="controller">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="container text-center">
            <img src="../../../assets/logo.jpg" height="150px" width="150px" alt="">
          </div>
          <h1 class="text-center"> {{title}}</h1>
          <form (ngSubmit)="formSubmit()">
            <input type="hidden" [(ngModel)]='body.id' name="id">             
            <mat-form-field  class="full-width" appearance="outline">
                <mat-label>Choose an Category Name</mat-label>
                <mat-select name="categoryId" [(ngModel)]="body.categoryId" >
                  <div *ngFor="let t of table">
                      <mat-option  [value]="t.id">{{t.categoryName}}</mat-option>
                  </div>
                  </mat-select>
              </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Category Description Name</mat-label>
                <input type="text" [(ngModel)]='body.subCategoryName'
                      name="subCategoryName" matInput  placeholder="Enter Sub category Name">             <!--  <mat-hint class="text-danger">enter vaild email</mat-hint>-->
              </mat-form-field>
            <div class="container text-center">
                <button type="submit" class="btn btn-primary">Save</button>&nbsp;&nbsp;
                <button type="reset" class="btn btn-danger">reset</button>
            </div>
            <br>
          </form> 
        </div>
      </div>
    </div>
  </div>