<mat-card class="card">
    <mat-card-content class="card-body">
       <mat-card-title class="text-center"><h2>{{tableTitle}}</h2></mat-card-title>
       <div class="text-center bg-danger" *ngIf="msg!=''" >{{msg}}</div>
       <a class="btn btn-primary" [routerLink]='"/admin-dashboard/add-category"' >Add</a>
       <hr>
       <table class="table"> 
           <thead class="thead-dark">
               <tr>
                 <th scope="col">S.No.</th>
                 <th scope="col">C.Id.</th>
                 <th scope="col">C.Name</th>
                 <th scope="col">C.Description</th>
                 <th scope="col">Creation Date</th>
                 <th scope="col">Action</th>
               </tr>
             </thead>  
             <tbody>
               <tr *ngFor="let t of table let i = index">
                   <th scope="row">{{i+1}}</th>
                   <td>{{t.id}}</td>
                   <td>{{t.categoryName}}</td>
                   <td>{{t.categoryDescription}}</td>
                   <td>{{t.crateionDate}}</td>
                   <td>
                       <button class="btn btn-primary" [routerLink]='"/admin-dashboard/edit-category/"+t.id'>edit</button>
                       <button class="btn btn-success" [routerLink]='"/admin-dashboard/all-sub-category/"+t.id'>Sub Category</button>

                </td>
                 </tr>
             </tbody> 
       </table>
    </mat-card-content>   
   </mat-card>