<div class="bootstrap-wrapper">

    <div class="controller">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="container text-center">
            <img src="../../../assets/logo.jpg" height="150px" width="150px" alt="">
          </div>
          <h1 class="text-center"> Register here !!!</h1>
          <form (ngSubmit)="formSubmit()">
            <table class="full-width">
              <tr>
                <td>
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input type="text"
                    [(ngModel)]='body.firstname' name="firstname" matInput   placeholder="Enter first name" required>
                  </mat-form-field>
                </td>
                <td>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input type="text"
                  [(ngModel)]='body.lastname' name="lastname" matInput  placeholder="Enter last name">
                </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Contact Number</mat-label>
                    <input type="text"
                    [(ngModel)]='body.contactNo' name="contactNo" matInput   placeholder="Enter Contact Number" required>
                  </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Choose an State Name</mat-label>
                        <mat-select name="stateId" [(ngModel)]="body.state" >
                          <div *ngFor="let s of states">
                              <mat-option  [value]="s.stateName">{{s.stateName}}</mat-option>
                          </div>
                          </mat-select>
                      </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Post Pin Code</mat-label>
                    <input type="text"
                    [(ngModel)]='body.pinCode' name="pinCode" matInput   placeholder="Enter Post pin Code" required>
                  </mat-form-field>
                </td>
                <td>
                    <mat-radio-group name="gender" [(ngModel)]='body.gender' >
                        <mat-radio-button value="Male">Male</mat-radio-button>&nbsp;
                        <mat-radio-button value="Female">Female</mat-radio-button>
                      </mat-radio-group>
                </td>
              </tr>
            </table>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input type="date"
              [(ngModel)]='body.dob' name="dob" matInput >
            <!--  <mat-hint class="text-danger">enter vaild email</mat-hint>-->
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Address</mat-label>
                <textarea [(ngModel)]='body.address' rows="5"
                      name="address" matInput  placeholder="Enter Complete Address"></textarea>
              <!--  <mat-hint class="text-danger">enter vaild email</mat-hint>-->
              </mat-form-field>
            <div class="container text-center">
                <button type="submit" class="btn btn-primary">Register</button>&nbsp;&nbsp;
                <button type="reset" class="btn btn-danger">reset</button>
            </div>
            <br>
          </form> 
        </div>
      </div>
    </div>
  </div>